<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	 <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servleto.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataSent</servlet-name>
    <servlet-class>servleto.DataSent</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Approved</servlet-name>
    <servlet-class>servleto.ApprovedServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GetMoney</servlet-name>
    <servlet-class>servleto.GetMoneyServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>PutMoney</servlet-name>
    <servlet-class>servleto.PutMoneyServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>ConnectionTable</servlet-name>
    <servlet-class>servleto.ConnectionTable</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>DataSent</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>DataSent</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataSent</servlet-name>
    <url-pattern>/datasent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Approved</servlet-name>
    <url-pattern>/approved</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
    <servlet-name>GetMoney</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>GetMoney</servlet-name>
    <url-pattern>/getact</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>PutMoney</servlet-name>
    <url-pattern>/put</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>PutMoney</servlet-name>
    <url-pattern>/putact</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>ConnectionTable</servlet-name>
    <url-pattern>/game.jsp</url-pattern>
  </servlet-mapping>
  <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
  <form-login-page>/login.jsp</form-login-page>
  <form-error-page>/login.jsp</form-error-page>
  </form-login-config>
  </login-config>
  <welcome-file-list>
    <welcome-file>some.jsp</welcome-file>
  </welcome-file-list>
</web-app>
        